header .title {
    width: 100%;
    height: 60px;
    background-color: rgb(56, 56, 56);
    color: #FFF;
    font-size: 32px;
    font-family: 'Roboto';

    display: flex;
    align-items: center;
    justify-content: center;
}